<li>


	<button class="devour-btn btn waves-effect red lighten-1 btn-medium" type="submit" name="action" data-id="{{this.id}}">Devour {{burger_name}} <i class="fas fa-hamburger"></i></button>
	<button class="orderDelete btn waves-effect red lighten-1 btn-medium" type="submit" name="action" data-id="{{this.id}}"><i class="fas fa-ban"></i></button>
	
</li>