
<div class="container">
  <div class= "row">
    <div class = "col s12"><h1 class="mainHeader">The Ultimate Burger Builder</h1>
    </div>
  </div>
  <div class="row">
    <div class="sideOne">
      <div class="col s4">
        <h2 class="leftHeader">Burger Orders:</h2>


        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burger-block}}
          {{/unless}}
          {{/each}}
      </div>
    </div>

    <div class="col s4">
      <img id="burgerImg" src="https://i.imgur.com/eE0Y2TT.jpg" alt="burger">
    </div>
    <div class="col s4">
      <div class="sideTwo">

        <h2 class="rightHeader">Devoured Burgers:</h2>


        <ul class="header">
          {{#each burgers}}
          {{#if devoured}}
          <li>
            <button class="orderAgain-btn btn waves-effect red lighten-3 btn-medium" type="submit" name="action" data-id="{{this.id}}" data-reOrdered="{{burger_name}}">
		      {{burger_name}} <i class="fas fa-hamburger"></i>
	      </button>
            <button class="devouredDelete btn waves-effect red lighten-3 btn-medium" type="submit" name="action" data-id="{{this.id}}"><i class="fas fa-ban"></i></button>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col s4">
    </div>

    <div class="col s4">
      <h2 class="addHeader">Add a Burger</h2>
      <form class="create-form">

        <div class="form-group">
          <input type="text" id="ca" name="name">
        </div>

        <button type="submit" class="burgerButton"><i class="fas fa-hamburger"></i> Add Burger</button>
      </form>
    </div>

    <div class="col s4">

    </div>
  </div>
</div>