.mainHeader {
  font-family: 'Sansita Swashed', cursive;

}



.leftHeader {
  font-family: 'Sansita Swashed', cursive;
  font-size: 15px;
}

.container {
  text-align: center;
}




.rightHeader {
  font-family: 'Sansita Swashed', cursive;
  font-size: 15px;
}

#burgerImg {
  height: 350px;
  width: 350px;
 
}
.addHeader {
  
  font-family: 'Sansita Swashed', cursive;
}

.burgerButton {
  font-family: 'Sansita Swashed', cursive;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

